@import './base.css';

@media (prefers-color-scheme: light) {
    body {
        background: linear-gradient(160deg, #022333 5%, #99b8c7 18%, #8fd9fb 100%);
    }
}
@media (prefers-color-scheme: dark) {
    body {
        background: linear-gradient(160deg, #022333 1%, #99b8c7 10%, #020024FF 90%);
    }
}

#app {
  max-width: 1200px;
  min-width: 360px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
    backdrop-filter: saturate(90%);
}

a,
.green {
  text-decoration: none;
  color: hsl(226, 100%, 37%);
  transition: 0.4s;
  padding: 3px;
}

nav {
    backdrop-filter: saturate(80%);
    background: rgba(255, 255, 255, 0.33);
    width: 100%
}
@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {



}
